AIML_salesAnalysisProj_dataset.xlsx
NSMES1988.csv
NSMES1988.json
school_grades.csv
__MACOSX/StatsDatasets/._AB_Testing_Website.csv
__MACOSX/StatsDatasets/._Ages.csv
__MACOSX/StatsDatasets/._anonymous-survey-responses.csv
__MACOSX/StatsDatasets/._anonymous-survey-responses.csv.zip
__MACOSX/StatsDatasets/._blood_pressure.csv
__MACOSX/StatsDatasets/._chi-test.csv
__MACOSX/StatsDatasets/._crop_yield_treatment.csv
__MACOSX/StatsDatasets/._crop_yield.csv
__MACOSX/StatsDatasets/._Customer+OrderForm.csv
__MACOSX/StatsDatasets/._cutlets.csv
__MACOSX/StatsDatasets/._Health_Outcomes.csv
__MACOSX/StatsDatasets/._Mann-Whitney_U_Salaires.csv
__MACOSX/StatsDatasets/._plant.csv
__MACOSX/StatsDatasets/._Shopping.csv
StatsDatasets/AB_Testing_Website.csv
StatsDatasets/Ages.csv
StatsDatasets/anonymous-survey-responses.csv
StatsDatasets/anonymous-survey-responses.csv.zip
StatsDatasets/Archive.zip
StatsDatasets/blood_pressure.csv
StatsDatasets/chi-test.csv
StatsDatasets/crop_yield_treatment.csv
StatsDatasets/crop_yield.csv
StatsDatasets/Customer+OrderForm.csv
StatsDatasets/cutlets.csv
StatsDatasets/Health_Outcomes.csv
StatsDatasets/Mann-Whitney_U_Salaires.csv
StatsDatasets/plant.csv
StatsDatasets/Shopping.csv
240323_Chandni Kazi_SalesProject.pdf
1688639964_datadictionaryresponsetomarketingcampaigns.xlsx
1688640705_hr_comma_sep.xlsx
AusApparalSales4thQrt2020.csv
boston_sklearn.csv
HousePrices.csv
housing_data.csv
marketing_data.csv
SalesProject.ipynb
DataWranglingDataset/__MACOSX/Dataset/._boston_sklearn.csv
DataWranglingDataset/__MACOSX/Dataset/._boston_sklearn.txt
DataWranglingDataset/__MACOSX/Dataset/._final_rental_bike_dataset.csv
DataWranglingDataset/__MACOSX/Dataset/._rental_bike_descr.csv
DataWranglingDataset/__MACOSX/Dataset/._rental_bike_season.xlsx
DataWranglingDataset/Dataset/boston_sklearn.csv
DataWranglingDataset/Dataset/boston_sklearn.txt
DataWranglingDataset/Dataset/final_rental_bike_dataset.csv
DataWranglingDataset/Dataset/rental_bike_descr.csv
DataWranglingDataset/Dataset/rental_bike_season.xlsx
SalesProject.ipynb
